.App-header {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-size: 40px;
  height: 60px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-container {
  margin: auto;
  padding-top: 30px;
  justify-content: center;
  width: 330px;
  height: 30px;
  display: flex;
}

.input {
  padding: 5px 15px;
  width: 300px;
}

.btn {
  padding: 5px 15px;
  cursor: pointer;
}

.table {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  height: 30px;
}